# Configuración Supabase
SUPABASE_URL=https://fhfwwibnmmibfeosdwmu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoZnd3aWJubW1pYmZlb3Nkd211Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwMTk1ODIsImV4cCI6MjA5MzU5NTU4Mn0.PGqRUieD7XiOl3zkqWtXXb61EwaY0c8ZRNJgn0lAtXk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZoZnd3aWJubW1pYmZlb3Nkd211Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODAxOTU4MiwiZXhwIjoyMDkzNTk1NTgyfQ.FLXJ-L56p-vTTvoxpXpSxtEw0DObLlv1yO4etl4d8jQ

# Autenticación
JWT_SECRET=753cf4ff-f51c-4441-b64d-a9f01fcfcc7a

# Variables existentes de tu proyecto
PORT=3000
NODE_ENV=development